html, body, #map {
    height: 100%;
    width: 100%;
    background-color:black;
    margin: 0;
    padding: 0;
}

.title {
    font-weight: bold;
    color: white;
}

.fullWidth {
    width: 100%;
}

.title {
    font-weight: bold;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.initialBlock {
    margin-top: 10px;
}

.imageSection {
    text-align: center;
    margin-top: 30px;
}

.sketchImages {
    width: 300px;
    height: 300px;
}

.emojiImages {
    width: 100px;
    height: 100px;
}