html, body, #map {
    height: 100%;
    width: 100%;
    background-color:black;
    margin: 0;
    padding: 0;
}

#title {
    font-weight: bold;
    color: white;
    margin-top: 15px;
}

.fullWidth {
    width: 100%;
}

.title {
    font-weight: bold;
}

.center {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.text {
    color: white;
    font-size: 20px;
}

.initialBlock {
    margin-top: 10px;
}

.borderRad {
    border-radius: 4px;
}

.addMargin {
    margin: 0 10px 0 10px;
}

.mapContainer {
    margin-top:4px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}